body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Montserrat', sans-serif;
}

.header {
  padding-bottom: 38px;
}

.pink {
  color: #e40084 !important
}

.fw900 {
  font-weight: 900;
}

.fw500 {
  font-weight: 500
}

.bg-darkgray {
  background: #222222;
}

.block--black {
  background: #181818;
}
